<header>
    <nav class="navbar navbar-expand-lg  navbar navbar-light bg-lignt header-nav">
        <a class="header-title" href="/">BOOKEEPER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon my-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/authors/new">Add Author</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/books/new">Add Book</a></li>
            </ul>
        </div>
    </nav>
</header>