<header>
    <nav>
        <a href="/">BOOKEEPER</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="">Books</a></li>
            <li><a href="">Add Book</a></li>



        </ul>
    </nav>
</header>