@import "shared/header.css";
@import "shared/buttons.css";
@import "shared/form.css";
@import "shared/authors.css";
@import "shared/books.css";

:root {
  --roboto-slab-font: "Roboto Slab", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--roboto-slab-font);
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 2rem;
}

.page-header {
  font-size: 2rem;
  font-weight: 500;
}

.error-message {
  color: red;
}
