.author-container {
  margin-top: 30px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.author img {
  width: 155px !important;
  height: 220px !important;
  border-radius: 15px;
}

.author-container img {
  border-radius: 15px;
}

@media (max-width: 900px) {
  .page-header {
    text-align: center;
  }
  .author-container {
    margin-bottom: 40px;
  }

  .author-details {
    flex-direction: column;
  }
  .bio {
    width: 100%;
  }
  .author-details-grid {
    margin-left: 0 !important;
  }
}
