.header-title {
  color: black;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

@media (max-width: 976px) {
  .header-nav ul {
    flex-direction: column;
    align-items: center;
  }
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 1rem;
}

.header-nav li a:hover,
.header-title:hover {
  color: orange;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler {
  border: 1px solid black !important;
}

button:focus {
  outline: none;
}
